*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
      /* height: 20vh; */
      background-color: cadetblue;
}
main{
    height: 70vh;
   

}
footer{
    height:10vh ;
 
}
.titulo {
    font-size: 78px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: -7px;
    margin: 20px 50px;
}

.foto_portada {

    width: 100%;
    height: 450px;
}

ul {
    list-style: none;

}

.nav a {
    text-decoration: none;
    color: black;

}

.nav li {
    padding-bottom: 50px;
}

nav {
    margin-left: 30px;

    border: 20px;
}

.enDondeEstoy {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin: 0%;
    padding: 20px;

}

.logo {
    width: 200px;
    position: absolute;

    right: 107px;
    top: 396px;
}

.contenedor_principal {
    display: flex;

    margin: 40px 100px;
    justify-content: space-between;
    align-items: center;


}

.contenedor_de_informacion {

    margin-left: 40px;


}

.contact {
    margin-top: 50px;
}

figure{
    margin-left: 50px;
}
.footer{
    text-align: center;
   padding-top: 12px;
    

}
.fotoContenedorDeInfo{
    width: 300px;
    margin-top:  50px 50px;

}