:root {
    --azulOscuro: #0F1035;
    --azulIntermedio: #9DB2BF;
    --celeste: #7FC7D9;
    --celesteClaro: #b8f0ed;
    --background-dark: #2d3548;
    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1043px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* HEADER */
header {
    min-height: 80vh;
    background-image: linear-gradient(to right, rgb(0 0 0/ .5), rgb(0 0 0/ .5)), url(../assets/imagenes/banner-index.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
}

.header-2 {
    min-height: 65vh;
    background-size: cover;
    background-position: center;
    display: flex;
    background-image: linear-gradient(to right, rgb(0 0 0/ .5), rgb(0 0 0/ .5)), url(../assets/imagenes/portada.jpg);

}

.logo {
    width: 100px;
    position: absolute;
    top: 0;
}

.titulo {
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 11rem;
    color: white;
}

/* NAVEGADOR */
.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 16%;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid black;
}

.nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav ul li a {
    line-height: 80px;
    color: #fff;
    padding: 12px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

.nav ul li a:hover {
    border-radius: 1rem;
    background: rgb(77, 77, 224);
    box-shadow: 0 0 10px rgb(77, 77, 224), 0 0 40px rgb(77, 77, 224), 0 0 80px rgb(77, 77, 224);
}

a[href="#"] {
    background-color: rgba(11, 11, 128, 0.5);
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 1rem;
}

/* MAIN */
main {
    min-height: 75vh;
    background-color: var(--azulIntermedio);
}

/* INDEX */

.hero-section {
    align-items: flex-start;
    display: flex;
    min-height: 80%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
}


.card-grid {
    grid-template-columns: repeat(3, 1fr);
}

.card {
    list-style: none;
    position: relative;
    width: 40vh;
}

.card:before {
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.card__background {
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.3) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition:
        filter 200ms linear,
        transform 200ms linear;
}

.card:hover .card__background {
    transform: scale(1.05) translateZ(0);
}

.card-grid:hover>.card:not(:hover) .card__background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
}

.card__category {
    color: var(--text-light);
    font-size: 1.5rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
}

.card__heading {
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);

}

.leyendaIndex {
    align-items: flex-start;
    display: flex;
    padding: 60px;


}

.leyendaIndex>h3 {
    border: 2px solid rgb(107, 194, 245);
    background-color: #0f103594;
    padding: 30px;
    color: white;
    font-size: 20px;
    font-family: cursive;


}

.contenedorFotoBanner {
    display: flex;
    justify-content: center
}

.banner-index {
    height: 58vh;
    padding: 40px;
}

.galeryIndex {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    font-style: italic;
}

.galeryIndex h3 {
    padding-bottom: 1rem;
}

.slider {
    position: relative;
    width: 44%;
    overflow: hidden;
}

.imgIndexGalery {
    display: flex;
    width: 100%;
}

.imgIndexGalery img {
    height: 400px;
    width: 100%;
    transition: all 0.36s ease;
}

.imgIndexGalery input {
    display: none;
}

.dots {
    display: flex;
    justify-content: center;
    margin: 5px;

}

.dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #0d1183c0;
    cursor: pointer;
    transition: all 0.5s ease;
    margin: 5px;
}

.dots label:hover {
    background-color: rgba(24, 218, 218, 0.815);
}

#img1:checked~.m1 {
    margin-left: 0;
}

#img2:checked~.m2 {
    margin-left: -100%;
}

#img3:checked~.m3 {
    margin-left: -200%;
}

#img4:checked~.m4 {
    margin-left: -300%;
}

#img5:checked~.m5 {
    margin-left: -400%;
}

#img6:checked~.m6 {
    margin-left: -500%;
}

#img7:checked~.m7 {
    margin-left: -600%;
}

#img8:checked~.m8 {
    margin-left: -700%;
}

/* About */
.contenedorAbout {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2.5rem 1.5rem;
}

.contenedorAbout img {
    width: 450px;
    border-radius: 1rem;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.6);
}

.contenedorAbout section {
    width: 60%;
    padding: 4rem;
    margin: 20px;
}

.contenedorAbout h3,
.contenedorAbout p {
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Game Infotmation */
.contenedorInformacion {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.contenedorInformacion section {
    width: 60%;
}

.primer-texto {
    margin: 5px;
    margin-left: 51px;
    font-size: 3.5vh;
}

/* TABLA */
.div-tabla {
    width: 100%;
    display: flex;
    flex-direction: unset;
    justify-content: space-around;
    margin-top: 42px;
}

th {
    background-color: rgb(10, 3, 82);
    color: white;
    font-size: 30px;
    border-bottom: solid 5px 0.5;
    padding: 13px;
}

tbody {
    background: linear-gradient(#3867cc, #21247ece);
    color: white;
    font-size: 20px;
    font-weight: 700;
}

table,
td,
tr {
    border-collapse: collapse;
    padding: 14px;
    border: 1px solid black;
}

table {
    text-align: center;
    width: 100%;
    margin: -3px;
    box-shadow: 0 0 20px 10px rgba(2, 191, 216, 0.5);
}

/* TEXTO FINAL DE TABLA */
.textoInfoGames {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
}

.textoInfoGames div {
    padding: 10px;
}
.mapsText{
    text-align: center;
    font-size: 2.5rem;
    
}

.maps {
    width: 90%;
    padding: 4rem;
    display: flex;
    flex-direction: row;
}

.map {
    display: block;
    width: 160px;
    height: 160px;
    margin: 10px;
    border-radius: 6px;
}

.box {
    width: 250px;
    margin: 0 10px;
    text-align: center;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s;
}

.box:hover {
    transform: scale(1.3);
    z-index: 2;
}

/* RULES */

.contenedorRules {
    padding: 3rem;
}

.encabezado-rules {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-rules {
    padding-top: 3rem;
}

.texto-rules section,
.texto-rules li {

    padding-bottom: 1.5rem;
    margin-left: 1.5rem;
}

.contenedor-reglamento h3 {
    padding: 5px;
}



/* Contact */
.contenedorBannerContact {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.bannerContact {
    width: 70%;
}

#contenedorContacto {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 3rem;
}

.contact {
    padding-left: 2rem;
    padding-top: 1rem;
}

.img-contact {
    width: 300px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.496);
    transition: all 0.5s;
    border-radius: 0.5rem;
}

.img-contact:hover {
    transform: scale(1.1);
}

.mailContact {
    background: var(--azulIntermedio);
    box-shadow: 0 0 10px var(--azulIntermedio), 0 0 40px var(--azulIntermedio), 0 0 80px var(--azulIntermedio);
}

.redesSociales {
    font-size: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 228px;
    margin-left: -30vh;
    justify-content: center;
    margin-top: 47vh;
}

.redesSociales a {
    background-color: var(--azulIntermedio);
}

.redes {
    display: flex;
    flex-direction: row;
}

.redes img {
    width: 15vh;
    transition: all 0.5s;
}

.logoRedes:hover {
    transform: scale(1.2);
}

.text-form {
    text-align: center;
    font-size: 30px;
    padding-left: 7vh;
    padding-bottom: 8px;
}

.form-container {
    width: 400px;
    background: linear-gradient(#2d3548, #0f1035) padding-box,
        linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
    border: 5px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    margin-left: 23vh;
}

.form-container button:active {
    scale: 0.95;
}

.form-container .formContact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
}

.form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #40c9ff;
}

.form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 138px;
    border: 1px solid #40c9ff;
    background-color: transparent;
    font-family: inherit;
}

.form-container .form-group input::placeholder {
    opacity: 0.5;
}

.form-container .form-group input:focus {
    outline: none;
    border-color: #e81cff;
}

.form-container .form-group textarea:focus {
    outline: none;
    border-color: #e81cff;
}

.form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #fff;
    font-weight: 600;
    width: 40%;
    background: rgb(3, 1, 22);
    border: 1px solid #40c9ff;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
}

.form-container .form-submit-btn:hover {
    background-color: #483cf15d;
    border-color: #fff;
}


/* FOOOTER */

footer {
    /* height: 5vh; */
    background-color: var(--azulOscuro);
    color: aliceblue;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    line-height: 1.5em;
    display: flex;
    justify-content: space-around;
}

.col-1 {
    padding-top: 30px;
}

.col-2 {
    padding-top: 59px;
}

footer p {
    display: flex;
    align-items: center;
    font-size: 30px;
}


.col-2 h3 {
    font-weight: 300px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 a {
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

.ul-footer i {
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}

.ul-footer {
    list-style: none;
}

.ul-footer a {
    color: #fff;
}

.col-2 ul {
    display: flex;
    flex-direction: row;
}

.foto_portada {
    display: none;
}

figure {
    display: none;
}

/* REGISTRATION FORM */
.form {
    width: 65%;
    padding: 5rem;
    position: relative;
    left: 200px;
    cursor: pointer;  
    font-family:fantasy;  
}
.contenedorForm{
    background-color: #b7c9e2;
    padding: 2rem;
    border-radius: 2rem ;
    box-shadow: 0 0 20px 10px rgba(18, 64, 70, 0.5);

}

.form h2 {
    text-align: center;
    padding-bottom: 3rem;
    font-size: 3rem;
    font-style: oblique;
}

.datosForm {
    border: none;
    padding: 1rem;
}

fieldset input {
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    border: 1px solid var(--celeste);
}

.datosForm legend{
    font-size: 20px;
    font-weight: 600;
}

.datosPersonales {
    padding-left: 48px;
}

.zipCode{
    padding-left: 10rem;
}
.gender{
    padding-left: 6.5rem;
}

.form-calles{
    width: 81%;
}
.imgForm{
    width: 70rem;
    
}
.contenedorImgForm{
    display: flex;
    padding-top: 5rem;
    justify-content: center;
}
.signature{
    width: 65%;
    height: 3rem;
}
form button {
    font-size: 15px;
    color: #fff;
    border-radius: 6px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    font-weight: 600;
    width: 40%;
    background: rgb(10, 3, 73);
    border: 1px solid #40c9ff;
    padding: 12px 16px;
    margin-top: 8px;
    cursor: pointer;
}